@import './base.css';


/* src/assets/styles.css */

body {
    background-image: url('/images/BG.png'); /* Use root-relative path for public folder */
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: url('/images/FAVI.png'), auto; /* Same for cursor image */
}